
# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Dataset
*.csv

# Trained model

*.pt
*.pkl

# Results
results/

# macOS
.DS_Store

# VSCode
.vscode/

avg_highlight_graphs
test_gui.py